<article class="survey-question" data-question="{{id}}">
  <p class="survey-question-label">Question</p>
  <h3>{{title}}</h3>
  <div class="survey-content" data-content>{{{contentHtml}}}</div>
</article>
