<html>
<head>
<title>{{survey.title}}</title>
{{> style}}
</head>
<body>
<form>
{{#if survey.description}}
<p>{{survey.description}}</p>
{{/if}}
{{#each survey.sections}}
{{> section}}
{{/each}}
</form>
{{> script}}
</body>
</html>
