<html>
<head>
<title>{{questionnaire.title}}</title>
{{> style}}
</head>
<body>
<form>
{{#if questionnaire.description}}
<p>{{questionnaire.description}}</p>
{{/if}}
{{#each questionnaire.sections}}
{{> section}}
{{/each}}
</form>
{{> script}}
</body>
</html>
