<section class="survey-section" data-section="{{id}}">
  <div class="survey-section-heading">
    <p>Section</p>
    <h2>{{title}}</h2>
    {{#if description}}
      <p>{{description}}</p>
    {{/if}}
  </div>
  <div class="survey-questions" data-questions>
    {{#each questions}}
      {{> question}}
    {{/each}}
  </div>
</section>
